<div class="columns">
  <div class="column">
    <h1 class="title is-1">Users</h1>
  </div>
  <div class="column has-text-right">
    <%= link_to '<i class="fas fa-file-medical mr-1"></i>New'.html_safe, new_user_path, class: 'button' %>
  </div>
</div>

<% if @users.present? %>
  <table class="table is-fullwidth">
    <thead>
      <tr>
        <th>Name</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr class="jets-element-to-delete">
          <td><%= user.name %></td>
          <td class="has-text-right">
            
              <%= link_to '<i class="fas fa-file-alt"></i>'.html_safe, [user] %>
              <%= link_to '<i class="fas fa-pencil-alt ml-3"></i>'.html_safe, edit_user_path(user) %>
              <%= button_to '削除', [user], method: :delete, form_class: "far fa-trash-alt" %>     
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="notification is-warning">
    Data Not Found.
  </div>
<% end %>