<div class="columns">
  <div class="column">
    <h1 class="title is-1">Show Meal</h1>
  </div>
  <div class="column has-text-right">
    <%= link_to '<i class="fas fa-chevron-left mr-1"></i> Back'.html_safe, meals_path, class: 'button mr-3' %>
  </div>
</div>

<p>
  <strong>食品名:</strong>
  <%= @meal.title %>
</p>

<p>
  <strong>写真:</strong>
  
  <%= image_tag @meal.photo.url %>
</p>

<p>
  <strong>材料名:</strong>
  <%= @meal.material.html_safe %>
</p>

<p>
  <strong>作り方:</strong>
  <%= @meal.make.html_safe %>
</p>

<div class="mt-5 pt-5">
  <%= link_to 'Edit', edit_meal_path(@meal), class: 'button is-success' %>
</div>
