<div class="columns">
  <div class="column">
    <h1 class="title is-1">Show Meal</h1>
  </div>
  <div class="column has-text-right">
    <%= link_to '<i class="fas fa-chevron-left mr-1"></i> Back'.html_safe, meals_path, class: 'button mr-3' %>
  </div>
</div>


<p>
  <strong>写真</strong><br>
  <br>
  <%= image_tag @meal.photo.url %>
</p>
<br>
<p>
  <strong>食品名</strong><br>
  <%= @meal.title %>
</p>
<br>
<p>
  <strong>材料名</strong><br>
  <%=safe_join(@meal.material.split("\n"),tag(:br))%>
</p>
<br>
<p>
  <strong>作り方</strong><br>
  <%=safe_join(@meal.make.split("\n"),tag(:br))%>
</p>

<div class="mt-5 pt-5">
  <%= link_to 'Edit', edit_meal_path(@meal), class: 'button is-success' %>
</div>
