<div class="columns">
  <div class="column">
    <h1 class="title is-1">Show Material</h1>
  </div>
  <div class="column has-text-right">
    <%= link_to '<i class="fas fa-chevron-left mr-1"></i> Back'.html_safe, materials_path, class: 'button mr-3' %>
  </div>
</div>

<p>
  <strong>材料:</strong>
  <%= @material.material_name %>
</p>

<p>
  <strong>量:</strong>
  <%= @material.amount %>
</p>

<p>
  <strong>料金目安:</strong>
  <%= @material.price %>
</p>

<div class="mt-5 pt-5">
  <%= link_to 'Edit', edit_material_path(@material), class: 'button is-success' %>
</div>
