<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="theme-color" content="#000000">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <%= csrf_meta_tags %>
  <title>Jets App</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link rel="shortcut icon" href="<%= favicon_path %>">
</head>
<body>
<section class="starter">
  <%= render 'header' %>
  <div class="container my-6 pb-6">
    <div class="row">
      <div class="col-md-9 content-body">
        <% if @title %><h1><%= @title %></h1><% end %>
        <%= yield %>
      </div>
    </div>
  </div>
  <%= render 'footer' %>
</section>
</body>
</html>
